<div class="container">
    <div class="header">
        <button class="btn-back" (click)="goBack()"><- Volver</button>
                <h1>Tareas Completadas</h1>
    </div>

    <div class="task-list">
        <div *ngFor="let task of tasks" class="task-item">
            <div class="task-info">
                <span class="task-id">#{{ task.id }}</span>
                <span class="task-title subrayar">{{ task.title }}</span>
            </div>
            <span class="badge-completed">Completada</span>
        </div>

        <div *ngIf="tasks.length === 0" class="empty-state">
            <p>No hay tareas completadas.</p>
        </div>
    </div>
</div>