<h3><- ListTask Component -></h3>
<!-- <ul>
    <li *ngFor="let tsk of taskList">{{ tsk }}</li>
</ul> -->
<br />
<h1 class="number_task">Número de tareas: {{ this.tasks.length }}</h1>
<br />
<h2>Lista de tareas pendientes:</h2>
<div class="nav-links">
  <button class="btn-nav" (click)="navigateToCompleted()">Tareas Completadas</button>
  <button class="btn-nav" (click)="navigateToDeleted()">Tareas Eliminadas</button>
</div>
<div class="flex">
  <div class="container_task" [ngStyle]="{'justify-content': tasks.length === 0 ? 'center' : ''}">
    <div class="task" *ngFor="let task of tasks let i = index">
      <div class="title_task_group">
        <small>
          {{ task.id }}.
        </small>
        <span [ngClass]="{'subrayar': task.completed}" [appTaskStatus]="!task.completed">
          {{ task.title }}
        </span>
      </div>
      <div class="actions_task_group">
        <input class="task_check" type="checkbox" [checked]="task.completed" (change)="completeTask(task)" />
        <button class="btn-details" (click)="navigateToDetails(task.id)">
          Detalles
        </button>
        <button class="btn-edit" (click)="navigateToEdit(task.id)">
          Editar
        </button>
        <button class="task_delete" (click)="deleteTask(task.id)" [appConfirmDelete]="task.title">
          Eliminar
        </button>
      </div>
    </div>
    <span [ngStyle]="{'color': 'white'}" *ngIf="tasks.length === 0">
      No hay Tareas
    </span>
  </div>
  <!-- <div class="container_task">
    <div class="task" *ngFor="let task of taskUpload let i = index">
      <div class="title_task_group">
        <small>
          <span class="status" [appTaskStatus]="task.completed" *ngIf="!task.completed">
            Pendiente
          </span>
          <span class="statusTrue" [appTaskStatus]="task.completed" *ngIf="task.completed">
            Completa
          </span>
          &nbsp;
          {{ task.title }}.
        </small>
      </div>
    </div>
  </div> -->
</div>

<!-- Botón flotante para agregar tarea -->
<button class="fab-button" (click)="navigateToCreate()" title="Agregar tarea">
  +
</button>