<h1 class="number_task"
  [ngClass]="{
  'r1-5': (numberTasks >= 1 && numberTasks <= 5),
  'r5-10': (numberTasks > 5 && numberTasks <= 10),
  'r10-15': (numberTasks > 10 && numberTasks <= 15),
}">Número de tareas: {{ numberTasks }}</h1>
<!-- <span
  [ngStyle]="{'color': isActive ? 'green' : 'red'}"
>
  Título de la tarea: {{ form.get('title')?.value }}
</span> -->
<!-- <div>
  <span *ngIf="taskActive">
    No puedes enviar una tarea sin título
  </span>
</div> -->
<br/>
<h2>Lista de tareas:</h2>
<div class="container_task">
  <div
    class="task"
    [ngStyle]="{'justify-content': tasks.length === 0 ? 'center' : ''}"
    *ngFor="let task of tasks let i = index"
  >
    <div class="title_task_group">
      <small>
      {{ i + 1 }}
      </small>
      <span
        [ngClass]="{'subrayar': task.completed}"
        [appTaskStatus]="!task.completed"
      >
        {{ task.title }}
      </span>
    </div>
    <div class="actions_task_group">
      <input
        class="task_check"
        type="checkbox"
        [checked]="task.completed"
        (change)="markTaskCompleted(task)"
      />
      <button
        class="task_delete"
        (click)="deleteTask(task.id)"
        [appConfirmDelete]="task.title"
      >
        Eliminar
      </button>
    </div>
    <span
      [ngStyle]="{'color': 'white'}"
      *ngIf="tasks.length === 0"
    >
      No hay Tareas
    </span>
  </div>
</div>

<form class="container-input" [formGroup]="form" (submit)="sendTaskTitle()" >
  <div class="input-group">
    <div
      class="error"
      *ngIf="form.get('title')?.invalid &&
          (form.get('title')?.dirty ||
          form.get('title')?.touched)"
    >
      <small *ngIf="form.get('title')?.errors?.['required']">* El título es requerido</small>
      <small *ngIf="form.get('title')?.errors?.['maxlength']">* El máximo de caracteres es de 10</small>
    </div>
    <input type="text" placeholder="Ingresar tarea" formControlName="title" />
  </div>
  <!-- <button type="submit" [disabled]="!form.valid">Enviar</button> -->
  <button type="submit">Enviar</button>
</form>